[2019-11-15 16:02] eromano commented on #5185
we are planning to update to Angular 9 in the next version

[2019-11-18 05:37] #5249 closed

[2019-11-18 05:46] Dharmraj12 opened #5258 "how to upload a file using this.alfrescoApiService.getInstance().bpmClient.callApi() ?"
In custom jar i have method to upload a file in ACS .Its content type is multipart but when **i passed multipart its not supporting**

**this.alfrescoApiService.getInstance().bpmClient.callApi(url, 'POST', {}, {}, {}, data, null, ['multipart/form-data'], ['application/json'])**

[2019-11-18 09:33] DenysVuika commented on #5258
Missing steps to reproduce the issue without your custom jar.

[2019-11-18 09:33] #5258 closed

[2019-11-18 09:51] #5039 closed

[2019-11-18 10:01] Dharmraj12 opened #5259 "how to upload a file using this.alfrescoApiService.getInstance().bpmClient.callApi() ?"
Hi @DenysVuika  without solving issue directly u are closing issue. i will explain

I have created  java method to upload a file in ACS  with consume type multipart/form-data.
when i call api  using this.alfrescoApiService.getInstance().bpmClient.callApi().
**its not supporting contenttype multipart/form-data**.

isJsonMime(contentType: string): boolean {
        return Boolean(contentType !== nul

[2019-11-18 10:03] DenysVuika commented on #5259
@Dharmraj12 next time please give all the details to reproduce the issue otherwise it is going to be closed as incomplete or unclear.

[2019-11-18 10:05] Dharmraj12 commented on #5259
@DenysVuika  now its cleared  or i need to share more detail

[2019-11-18 10:06] DenysVuika commented on #5259
@Dharmraj12 what are the steps for an engineer to reproduce this issue and confirm it is a bug?

[2019-11-18 10:06] DenysVuika commented on #5259
@Dharmraj12 please use the issue template we have configured and fill all the fields in that template

[2019-11-18 10:11] Dharmraj12 commented on #5259
Step 1: we need java method upload a file with consume type  multipart/form-data. ( rest API custom jar)
step 2. from angular with ADF UI  we need to call  that api using

this.alfrescoApiService.getInstance().bpmClient.callApi()  content type we need to pass   multipart/form-data so it will throw there from alfrescoApiClient.js  because

**isJsonMime(contentType: string): boolean {
return Boolean

[2019-11-18 10:17] Dharmraj12 commented on #5259
public uploadToACS(uploadObj: any, processObj, contentRequest): Observable<any> {
    const url = 'rest/services/uploadToAcs';
    const body = new FormData();
    body.append('siteid', uploadObj.siteId);
    body.append('containerid', uploadObj.containerId);
    body.append('filedata', uploadObj.file);
    body.append('status', uploadObj.status);
    body.append('overwrite', uploadObj.overwrite);

[2019-11-19 07:04] dhrn commented on #5137
**Workaround**:  upload from the user-owned/accessible site.
**Note**: Don't use the public site to upload the content. and make sure the user has authenticated to repositories in the activiti app(profile section).

![image](https://user-images.githubusercontent.com/14145706/69123777-39579700-0ac8-11ea-810b-bfb7f7289752.png)

[2019-11-19 08:42] #5259 closed

[2019-11-21 08:15] mbuyukkalender commented on #5137
Hello @dhrn ,

This workaround doesn't work for the preview of a document from a task-detail component in ADF.

We already have the same issue as you can see in the attachments :

![Capture d’écran 2019-11-21 à 08 53 31](https://user-images.githubusercontent.com/56829773/69319398-667a8580-0c3f-11ea-8089-5edbb7c43365.png)
![Capture d’écran 2019-11-21 à 09 12 52](https://user-images.githubuserco

[2019-11-21 08:37] dhrn commented on #5137
please make sure you are getting an icon like this

![image](https://user-images.githubusercontent.com/14145706/69320529-61313100-0c67-11ea-820d-c5ee3bc95246.png)

After that, Try upload using activiti-app to make sure your configuration is fine.

Then Use ADF with the same scenario( it is working for me)

Note: the problem here is ADF is not filtering the sites(it is showing all the sites). when

[2019-11-21 08:44] mbuyukkalender commented on #5137
@dhrn ,

Everything works fine from an APS point of view. If I play the process from APS, I have the preview and I can even edit the document with MS Word without issue....

The problem is on the ADF side... And what you noticed isn't relevant for me, because the user who access to the task is an administrator and also a member of the site (as a manager) where the document is picked up.

[2019-11-21 10:02] dhrn commented on #5137
can you share a sandbox app for better understanding?

[2019-12-02 21:43] mgechev commented on #5185
@eromano when are you planning to push the next version?

[2019-12-03 06:44] alfsender commented on #5137
@dhrn This issue is in ADF when previewing document which is attached to process. (note: when you try to preview this document from APS it works).
I also checked from demo-shell app which comes with ADF, even it has the same issue. So, this would require fix in ADF framework which makes API call to preview the document attached to process.

[2019-12-04 09:21] danchr opened #5309 "Setting allowSyntheticDefaultImports breaks linking against the js-api"
This isn't so much a bug report, as just a friendly notice about an issue that I ran into, and that took me quite a while to debug. It took quite a while to isolate, so I figured I'd describe what happened and put it somewhere reasonably searchable.

I tried to update the Alfresco components to 3.5 and 3.6, but when compiling our ADF application, we got the following error:

After some digging, an

[2019-12-10 08:39] Dharmraj12 opened #5319 "How to search user based on parameter?"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
I want to search a user  based on user Id   from APS User  in ADF
this.peopleProcessService.getWorkflowUsers this is not working with id  its wokring with name

**Expected behavior:**
I want to search a user  based on user Id from APS User  in ADF.

**Steps to reproduce the issue:**

**Component name and version:**

**Browser and versi

[2019-12-11 05:38] Dharmraj12 opened #5323 "How to make ADF Data Table In Edit mode ?"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
 IN ADF Table I am using  <data-columns>   i have defined text box  when i try to edit text from text box  its not editing
![ADF Table not edit mode](https://user-images.githubusercontent.com/29793162/70594546-e96f7a00-1c06-11ea-89cc-73bed6a6cf93.png)

**Expected behavior:**
 IN ADF Table I am using  <data-columns>   i have defined tex

[2019-12-26 08:38] asauvez opened #5349 "Wrong french translation for CREATE_FOLDER_TITLE"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

Translation for CREATE_FOLDER_TITLE in https://github.com/Alfresco/alfresco-ng2-components/blob/development/lib/core/i18n/fr.json is "Créer un nouveau filtre", which means "Create a new filter".

**Expected behavior:**

Translation should be "Créer un nouveau dossier"

**Component name and version:**

Last current version of /lib/core

[2020-01-02 12:15] ariksidney opened #5352 "Pagination broken when totalItems is undefined"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
Currently the range and total items section of the pagination is broken when totalItems in the pagination object is undefined and when there are more items available.

<img width="1180" alt="image" src="https://user-images.githubusercontent.com/15780097/71666443-1c69e100-2d61-11ea-855f-1ab7528de573.png">

**Expected behavior:**
Must be

[2020-01-06 11:16] eromano commented on #5352
@ariksidney would you like to contribute with the fix? Seems you have investigated it enough to add a possible solution

[2020-01-06 11:22] eromano commented on #5349
Hi @asauvez thanks we will fix it in 3.7.0

[2020-01-06 11:24] eromano commented on #5185
@mgechev we have a PR with the update to Angular8 done. We are just waiting the release of 9 to complete it

[2020-01-06 14:33] ariksidney commented on #5352
@eromano sure, I will do it as soon as I have time for it :)

[2020-01-06 15:51] mmcintyre123 commented on #5174
Also in favor of this solution.

[2020-01-06 20:26] mgechev commented on #5185
Sounds good. Let us know if we can support you somehow.

[2020-01-07 10:41] eromano commented on #5185
thanks @mgechev

[2020-01-07 10:44] eromano commented on #5174
this looks a good idea also to me. Do we have any of you fancy od trying in contribute to it? I am happy to help with it

[2020-01-07 12:42] #5349 closed

[2020-01-07 13:45] eromano commented on #5352
@ariksidney thanks

[2020-01-21 13:58] georg-un opened #5379 "Ambiguous German translation for search-filter action"
**Type of issue:**  (check with "[x]")

**Summary:**
In the German translation for the search-filter, the action _Clear all_ is translated to _Alle löschen_. However, in German, this is ambiguous since it also means _Delete all_. We had some confusion about this button with users fearing it would delete all their files... :)

A more unambiguous translation would be _Auswahl zurücksetzen_ which tra

[2020-01-23 10:38] eromano commented on #5379
Hi I will assign this task to the translation team thanks

[2020-01-23 14:30] gbroadbent commented on #5379
Hello georg-un, thank you so much for the observations and suggestions to fix the German strings. Stefan Kopz also validated your suggestions internally. PR has been requested with the changes.

[2020-01-23 18:28] #5379 closed

[2020-01-24 21:50] pathakarvind commented on #4959
Any alternate to achieve this?

[2020-01-28 05:53] silverskyvicto opened #5411 "Japanese Translation"
**Type of issue:**  (check with "[x]")

**New documentation request:**
Do you plan to make the documentation multilingual?

In PR https://github.com/Alfresco/alfresco-content-app/pull/1186 , I converted the Alfresco Content App documentation into Japanese, so I hope the same ADF documentation can be used.

[2020-01-29 08:07] mhmmderen3 opened #5419 "Add permission user for folder in Alfresco Content App, user search problem"
I want to give the user access to any folder. The user is calling but as a result only the first name comes. I want the first and last name to appear.
![image](https://user-images.githubusercontent.com/45883661/73338398-8b1a5b80-4287-11ea-93d9-4bd87ca1b625.png)

https://github.com/Alfresco/alfresco-ng2-components/blob/development/lib/content-services/src/lib/permission-manager/components/add-permi

[2020-01-30 16:54] asokolov-flex opened #5435 "Properties can't display right way if value too long."
**Type of issue:**  (check with "[x]")

**Current behaviour:**
 By default, it will apply ellipsis if the value its too long

**Expected behavior:**
Perhaps, something like tooltip where I can copy all value. Or scrolling

**Steps to reproduce the issue:**
Go in Edit Properties. And write too long value for any prop

**Component name and version:**
card-view-textitem.component

**Node version (for

[2020-02-05 12:22] MrMercure commented on #5419
A fix will be provided in the next release and the first and last name will appear for users.

[2020-02-05 14:25] eromano commented on #5419
https://issues.alfresco.com/jira/browse/ADF-5072

[2020-02-06 05:48] evanlinwood opened #5452 "Issue with Keycloak / ADF login component when using 'implicitFlow=false' style config"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

When using an implicitFlow=false type configuration, client side ADF logic appears to be failing to catch and report an exception generated as a result of Keycloak treating the silent token refresh iFrame request as being from a non-authenticated session (more detail below)

**Expected behavior:**

Expected behaviour is that the reque

[2020-02-06 08:23] fcorti commented on #5411
Hi @silverskyvicto,

I'm @fcorti, Product Manager for ADF.
Thank you for raising the question that might help many Japanese speakers.
Unfortunately the translation of the ADF documentation in Japanese is not included in our short term plan, but I'm happy to add it to the "todo" list.

Would be great to hear from other Japanese speakers how many of you would need this task to be done, why is import

[2020-02-08 08:47] silverskyvicto opened #5460 "extract-text-webpack-plugin repository is deprecated"
Hi.

The `extract-text-webpack-plugin` and `extract-text-webpack-plugin-last` libraries seem to be deprecated.

https://github.com/Alfresco/alfresco-ng2-components/blob/f54bc243179f14510731894f0ae4016276ff025e/package.json#L151

Both are based on the same GitHub repository, and that repository's page states that.

- [webpack-contrib/extract-text-webpack-plugin](https://github.com/webpack-contrib/e

[2020-02-10 01:46] silverskyvicto commented on #5411
Hi @fcorti

Understood.

[2020-02-10 01:47] #5411 closed

[2020-02-13 11:08] BaptisteMahe commented on #5435
Alright, so currently when the value of a card-view-textitem component is too long ellipsis is applied to the value. But if you **triple-click** on that value and **copy it**, it will copy **the whole value**, not only the part that is displayed.

Does it answer your question?
Do you still think a tooltip or button is needed?

[2020-02-13 12:33] Zverbigboy commented on #5435
@BaptisteMahe Okay, I also found it. It works. But I meant that it is unclear and not obvious for users who use ACA interface. I think would be better to see all value at once, perhaps user doesn't need to copy this value he just wanna see it whole. What are you thinking about it?

[2020-02-13 14:09] eromano commented on #5460
We actually use it only to create the perbuilt CSS in webpack.style.js and actually is quite old. It will be interessing explore if there is a more integrated way to do the same with Angular

[2020-02-13 14:11] #5419 closed

[2020-02-13 14:11] eromano commented on #5419
It will be released in 3.8.0

[2020-02-13 14:12] eromano commented on #5319
Is not possible with the currentAPI

[2020-02-13 14:12] #5319 closed

[2020-02-13 14:19] BaptisteMahe commented on #5435
Some kind of tooltip displaying the whole value when the mouse is over the value?

[2020-02-13 14:21] eromano commented on #5323
Not sure what you are asking @Dharmraj12 can you give more details?

[2020-02-13 14:26] eromano commented on #5309
Hi @danchr we have  "allowSyntheticDefaultImports": true in demo shell and all looks ok can you try with 3.7.0?

[2020-02-13 14:29] eromano commented on #5452
Hi @evanlinwood I will check it and I will tell you more

[2020-02-13 14:36] eromano commented on #5180
@FilipLabe are you proposing to translate the value of the property?

[2020-02-13 14:37] eromano commented on #5137
@alfsender can you try in ADF 3.7.0?

[2020-02-13 14:38] FilipLabe commented on #5180
@eromano Yes, exactly.

[2020-02-13 14:39] eromano commented on #5122
@JunHog can you provide an example when you need the widget set in the future?

[2020-02-13 14:41] eromano commented on #5074
@rohit9637 I like this design did you already do some work around it?

[2020-02-13 14:53] eromano commented on #4443
I don't see this error anymore, feel free to close it if you are still able to reproduce it

[2020-02-13 14:53] #4443 closed

[2020-02-13 14:59] Zverbigboy commented on #5435
@BaptisteMahe Yeah, It would be very cool! Or at least rescheduling this for below the line.
![Selection_384](https://user-images.githubusercontent.com/35262502/74447510-2c0d3700-4e82-11ea-93e9-e3994c0b9ea9.png)

[2020-02-13 15:00] JunHog commented on #5122
Yes, for example we need to filter on a date concerning the next meeting, which is obviously set in the future.

[2020-02-14 10:21] BaptisteMahe commented on #5435
So we opted for a **scrollable** component for non-multiline text item and we now display the **whole value** for multiline ones.

Here is a GIF showing the result :
![Screen Recording 2020-02-14 at 10 05 20](https://user-images.githubusercontent.com/41227846/74522764-bea9e680-4f13-11ea-8126-977484a9a8a7.gif)

Does this suit you?

[2020-02-14 10:27] BaptisteMahe commented on #5435
So we opted for a scrollable component for non-multiline text item and we now display the whole value for multiline ones.

Here is a GIF showing the result :

![Screen Recording 2020-02-14 at 10 23 45](https://user-images.githubusercontent.com/41227846/74523149-7a6b1600-4f14-11ea-9706-5929b881036f.gif)

Does this suit you?

[2020-02-14 10:54] eromano commented on #5180
not sure is going to be a good idea, is really difficult to be sure about what a field will contain and when apply it

[2020-02-14 10:56] eromano commented on #5122
probably we need to add more configuration to this widget to make more flexible. Do you want to contribute on the code?

[2020-02-14 10:57] DenysVuika commented on #5180
@eromano we could just add the `| translate` pipe when rendering values, and let developers put whatever they want in resource files. That however may impact the performance of the Card View component, so if going the auto-translate way, I would at least have a flag to enable/disable this behavior

[2020-02-14 11:32] eromano commented on #5180
I am not sure should be a Front End concern and yes @DenysVuika for sure is a good idea having at least an option to eanble/disable it

[2020-02-14 14:11] FilipLabe commented on #5180
Isn't there already support for translating values in the backend?
So when you get the properties of a node, you automatically get the translated values from the api.
I think thats how i worked with Share, does ADF use another api to get node information?

[2020-02-16 11:47] evanlinwood commented on #5452
Fantastic that's much appreciated Eugenio

[2020-02-17 06:22] DeveloperDeepak92 opened #5482 "Unable to extend ViewerComponent when sharedLinkId of the document is passed"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

We have a custom viewer to render our proprietary files. The custom viewer is plugged in as an adf-viewer extension and it works fine.

We need to use the same custom viewer when a file is opened with the shared link feature(public link), but we are unable to plug the custom viewer when the file is previewed with the shared link as th

[2020-02-17 08:33] asokolov-flex commented on #5435
@BaptisteMahe Certainly, it's up to you. Let it be as you wish. But for me, it seems a little strange. If it will be built for the production it's not the best view. This is just my opinion :)

[2020-02-17 10:54] BaptisteMahe commented on #5435
The design of the scrollbar was reviewed :

![Screen Recording 2020-02-17 at 10 46 10](https://user-images.githubusercontent.com/41227846/74647034-d9c66180-5172-11ea-906d-ae330aa92ca4.gif)

It is by far the simplest way to implement easy accessibility to the whole value of text item components.  Displaying on several lines or using a tooltip would disrupt the layout of components like card view li

[2020-02-17 11:58] asokolov-flex commented on #5435
@BaptisteMahe Well, let it be. I think It will be better. I appreciate it.

[2020-02-21 09:57] BaptisteMahe opened #5497 "Radio Button Widgets display empty container on read-only mode"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
When on readOnly mode the radio-button-widget is displaying its "value" (which is by default the string "empty") in a display-text-widget which makes no sense.

**Expected behavior:**
Should display disabled/read-only radio buttons

**Steps to reproduce the issue:**
1. Go to the modeler app, create a new form, put a radio button in it.

[2020-02-26 10:47] eromano commented on #5122
https://issues.alfresco.com/jira/browse/ADF-5085

[2020-03-04 14:48] #5122 closed

[2020-03-04 14:48] eromano commented on #5122
https://github.com/Alfresco/alfresco-ng2-components/pull/5525

[2020-03-04 14:48] #5497 closed

[2020-03-04 14:50] eromano commented on #5482
@DeveloperDeepak92 can you add more information on this ticket? is not really helpful your description

[2020-03-04 14:51] #5435 closed

[2020-03-04 14:52] #5352 closed

[2020-03-04 14:52] #5309 closed

[2020-03-04 14:56] eromano commented on #5180
should be the same backend

[2020-03-05 13:51] DeveloperDeepak92 commented on #5482
@eromano The description is updated with more details, please check.

[2020-03-08 04:38] asotog commented on #5185
hi @eromano any update regarding this ?

[2020-03-08 07:35] dhrn commented on #5482
Hi @eromano yesterday investigated this,

Currently, we are not supporting the viewer extensions when we pass `sharedLinkId` input to **adf-viewer** as mentioned above

https://github.com/Alfresco/alfresco-ng2-components/blob/development/lib/core/viewer/components/viewer.component.ts#L394

These lines are not allowing the extensions

        this.viewerType = this.getViewerTypeByMimeType(this.mime

[2020-03-08 16:16] adinapitul commented on #5482
@DeveloperDeepak92  , can you explain your use case a bit? Why do you want to pass the sharedId to the viewer instead of the nodeId ?

[2020-03-08 16:32] DeveloperDeepak92 commented on #5482
@adinapitul When we share the document (http://localhost/#/preview/s/Nffh2Lv_TGiQCSkQzOaW2Q) for preview we want the document to be render inside our customer viewer instead it renders inside the default adf-viewer.

[2020-03-08 22:57] adinapitul commented on #5482
@DeveloperDeepak92  , so, your custom viewer works in other places where you pass the nodeId, but doesn't work for shared files where you pass the sharedId ?

[2020-03-09 12:28] DeveloperDeepak92 commented on #5482
@adinapitul yes correct

[2020-03-09 12:54] adinapitul commented on #5482
not sure if this fixes the problem, but here's what I know:

- for a "normal" file :) , (assuming) you do a call to this:
https://github.com/Alfresco/alfresco-js-api/blob/development/src/api/content-rest-api/docs/NodesApi.md#getNode

this has a return type of [NodeEntry](https://github.com/Alfresco/alfresco-js-api/blob/development/src/api/content-rest-api/docs/NodeEntry.md), so (assuming) you're p

[2020-03-09 13:02] FilipLabe commented on #5180
Is there some flag you have to provide to the api when retrieving metadata to get translated values perhaps?

[2020-03-16 01:45] jamilnour opened #5549 ""where" clause is not passed to Document List component"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
Where clause is not passed to component

**Expected behavior:**
 [where]=myFilter should pass myFilter to the Get reequest

**Steps to reproduce the issue:**
add  [where]=myFilter

**Component name and version:**
Document List component (ADF 3.6.0)

[2020-03-16 06:48] pionnegru commented on #5549
It seems, for custom sources, the `where` clause is not passed [ DocumentListService.loadFolderByNodeId](https://github.com/Alfresco/alfresco-ng2-components/blob/development/lib/content-services/src/lib/document-list/services/document-list.service.ts#L174)

[2020-03-16 15:49] eromano commented on #5323
no more details have been added from @Dharmraj12 . I will close this issue, for now, please feel free to reopen it with more details as requested. Thanks

[2020-03-16 15:49] #5323 closed

[2020-03-17 19:04] eromano commented on #5185
is in or TODO There is a PR open with all the modfiy

[2020-03-20 13:44] ariksidney opened #5561 "NotificationService: translate Action value"
**Type of issue:**  (check with "[x]")

It's more an enhancement I guess.

**Current behaviour:**
At the moment, when calling notificationService.openSnackMessageAction(message, action) with translation keys only the message is translated.

**Expected behavior:**
For consistency reasons, I would expect that the action value will also be translated if a translation key is passed to the openSnackMes

[2020-03-20 17:17] DenysVuika commented on #5561
That's a great suggestion, feel free to raise a PR

[2020-03-20 22:12] #5549 closed

[2020-03-25 13:00] ManuelEssmeister commented on #5185
Hello,
any update regarding angular 9?

Thx!

[2020-03-31 07:49] Dharmraj12 opened #5582 "ADF Audit Log Directive downloading Blank PDF ( Process already completed)"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
 <button adf-process-audit *ngIf="showAuditLog"
          [process-id]="processInstanceId"
          [format]="'pdf'"
          [download]="true"
          mat-icon-button
          [matTooltip]="'Download Process Audit'"
          style="float: right">
    <mat-icon>assignment_ind</mat-icon>
  </button>
i am passing process instance i

[2020-03-31 13:00] dhrn commented on #5582
fixed in this PR -> https://github.com/Alfresco/alfresco-ng2-components/pull/5568.

Try latest alpha version and feel free reopen if it still exists

[2020-03-31 13:00] #5582 closed

[2020-04-02 13:08] #5460 closed

[2020-04-02 13:12] #4468 closed

[2020-04-02 13:22] eromano commented on #4422
https://issues.alfresco.com/jira/browse/ADF-5102

[2020-04-02 16:44] tdonovancsra commented on #4797
This is affecting me as well.  There is an override in form.component.ts that is registering this and overriding us looks like

[2020-04-06 12:01] #4422 closed

[2020-04-08 09:28] eromano commented on #4797
https://issues.alfresco.com/jira/browse/ADF-5106

[2020-04-14 11:35] #5561 closed

[2020-04-20 14:40] alfsender commented on #5137
@eromano apologies for delay in response. I just tested and see it works in ADF 3.7.0. Thank you.

[2020-04-20 15:15] #5137 closed

[2020-04-21 05:25] Dharmraj12 opened #5625 "How to edit data column (textbox) in ADF Data table ?"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
I am using ADF Data table with custom  \<data-columns> .Inside  \<data-columns> i have defined text box and select box in column level. When  I am trying to edit data from text box . On click Focus came out from text box

**Expected behavior:**
Text box should be editable

**Steps to reproduce the issue:**

**Component name and version

[2020-04-21 14:48] #4797 closed

[2020-04-24 08:19] dhrn commented on #5625
It is quite difficult understand the problem here.
can you share stackblitz or something for better understanding?.

[2020-04-24 08:31] amrutawandakar opened #5636 "People field displays error message"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
People field displays error message like **Enter a different value** even after user selection

**Expected behavior:**
Expected behavior is that even after selecting user from people field a error message should not display

**Steps to reproduce the issue:**

- Create Sample process in APS with people field on start form
- In ADF go to

[2020-04-24 11:03] muhmadtabrez commented on #5636
This issue is reproduced if user name = first name+lastname (Here APS consist of both first name and last name).
on the other hand this issue is not reproduced if user name=(first name) or username=(lastname) (Here APS will have either first name or lastname)

[2020-05-04 17:46] silverskyvicto opened #5671 "Audit Service for Alfresco Content Services"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

There is a Service that gets the audit log of Alfresco Process Services, but there is no Service that gets the audit log of Alfresco Content Services.

**Expected behavior:**

**Steps to reproduce the issue:**

**Component name and version:**

**Browser and version:**

all

**Node version (for build issues):**

**New feature request:*

[2020-05-07 00:07] uclaeamsavino opened #5678 "Custom stencil seems broken in 3.8"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
Custom stencil that works with 3.6 and 3.7 does not load with 3.8

**Expected behavior:**
Custom stencil should load in the form of a search button.

**Steps to reproduce the issue:**
Upgrade to 3.8, create a new process.

**Component name and version:**
process-services/lib/form/form.component.ts - 3.8

[code]

Our code matches the ex

[2020-05-07 06:13] DenysVuika commented on #5678
That is correct, in 3.8.0 there are two services now to control different Form implementations (APS 1.x and Cloud): https://github.com/Alfresco/alfresco-ng2-components/pull/5601

[2020-05-07 08:38] shazada opened #5679 "Content Metadata Card doesn't list the constraints from Alfresco"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

When creating an Alfresco Content Model with a constraint or list of values in the Model Manager
The ADF Meta-Data-Card Component shows a free input text field.
![Constraint in ADF ACA](https://user-images.githubusercontent.com/1477763/81280031-380b2e00-9058-11ea-87ec-9b04c5d1767a.jpg)
**Expected behavior:**

The ADF Meta-Data-Card sh

[2020-05-07 14:46] tdonovancsra commented on #5678
+1

[2020-05-07 14:48] uclaeamsavino commented on #5678
Thanks for looking into this @DenysVuika.

I updated the issue to add links to the examples we are following in demo-shell and yo generator.  I've been trying different things to see if I can find a workaround - as we'd really like to have the Checkbox bug fix which is in v 3.8.

No luck so far but if you can tell me a workaround to change the way we use the FromRenderingService that would be very

[2020-05-07 14:52] DenysVuika commented on #5678
Instead of the FormRenderingService, you should be using `ProcessFormRenderingService` if you are customizing APS 1.x or `CloudFormRenderingService` if you are customizing Enterprise

[2020-05-07 15:08] uclaeamsavino commented on #5678
I am using ProcessFormRenderingService in my component. I still get unknown type error on my custom widget. Can you point me to a working example?

[2020-05-07 15:12] DenysVuika commented on #5678
@uclaeamsavino please see the unit tests in the https://github.com/Alfresco/alfresco-ng2-components/pull/5601

[2020-05-07 15:14] DenysVuika commented on #5678
@uclaeamsavino I cannot advice without having a steps to reproduce the issue you have. We have full set of tests that is green right now, sorry.

[2020-05-07 15:18] uclaeamsavino commented on #5678
Youur unit tests only run on your form.component.ts, which is the compoent for <adf-form>.

You don't have any unit tests that run on a component like [this one from your demo-shell app](https://github.com/Alfresco/alfresco-ng2-components/blob/develop/demo-shell/src/app/components/process-service/process-service.component.ts), or [this one from the yo generator](https://github.com/Alfresco/generat

[2020-05-07 15:29] DenysVuika commented on #5678
Are you using Cloud components (process-services-cloud) or APS 1.x components (process-services) ?

[2020-05-07 15:35] uclaeamsavino commented on #5678
APS

[2020-05-07 15:43] DenysVuika commented on #5678
It seems to be a bug with multiple instances of ProcessFormRenderingService in memory. Investigating a way to fix it.

[2020-05-12 13:41] tdonovancsra commented on #5678
@DenysVuika what's the ETA for this fix?

[2020-05-12 18:16] DenysVuika commented on #5678
@tdonovancsra no ETA yet, you can watch this ticket or underlying PR (linked above) for status updates

[2020-05-13 18:33] DenysVuika commented on #5678
@tdonovancsra the fix was just merged, you may want to try to get the latest alphas and test if that works for you: https://github.com/Alfresco/alfresco-ng2-components/pull/5694 Ideally you should not be changing any code at all.

[2020-05-13 19:06] uclaeamsavino commented on #5678
Thanks @DenysVuika - one question - how do we know what version to put in our package.json for the latest alphas? Or are we downloading this directly somehow?

[2020-05-13 19:30] DenysVuika commented on #5678
You can use `latest`, `beta` or `alpha` when installing the dependencies. For example:
[code]
Do the same for other ADF libraries your app is using.

[2020-05-13 19:42] uclaeamsavino commented on #5678
Thanks - so the versions should always match right?

[code]

[2020-05-13 19:43] DenysVuika commented on #5678
Yes, most of the time the tag is the same for all libs

[2020-05-13 23:54] uclaeamsavino commented on #5678
Thanks - everything seems to work!

[2020-05-14 00:00] uclaeamsavino commented on #3794
We have this exact issue. There are three hidden fields pushing down the content on the right. This is set on APS using visibility rules.

![image](https://user-images.githubusercontent.com/43759901/81877768-d3117580-953a-11ea-99e2-89fceb397432.png)

Here's what it looks like directly on APS, the hidden fields are not pushing the content down:

![image](https://user-images.githubusercontent.com/43

[2020-05-14 10:46] #5678 closed

[2020-05-14 20:56] uclaeamsavino opened #5707 "Feature request - hide form fields within a column in a 2-column section"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
Currently ADF does not allow us to hide fields within a section. The fields still take up the same amount of space as if they were showing:

![image](https://user-images.githubusercontent.com/43759901/81984257-65705280-95e9-11ea-89e0-7a3d0cf07ca8.png)

**Expected behavior:**
It would be desirable to be able to hide fields within a sect

[2020-05-29 15:04] syankov opened #5740 "Drag-and-Drop from Outlook to ADF deletes the file in Outlook"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

When an email is dragged from Outlook to an ADW/ACA document list, the email is deleted from Outlook.

**Expected behavior:**

The file is uploaded to Alfresco as a copy, without deleting it from Outlook.

**Steps to reproduce the issue:**

Open stock ADW 1.4 or current ACA and drag an email from Outlook into the 'Personal Files' docu

[2020-06-12 16:41] shazada commented on #3709
This one has been open for quite a while, can we have a configure option in the app.config.json. Where in the content-metadata location a list of values can be put so the properties are read?

Default Angular autocomplete will do:
https://material.angular.io/components/autocomplete

Something like:
[code]
In the future we could use the rest api to get the values.

[2020-06-17 07:07] dylanvdbrink opened #5788 "Multi-selection for the Content Node Selector component"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
When opening the Content Node Selector component it is only possible to select one node and submit the form.

**Expected behavior:**
A property on the component (e.g. `multiSelection`) to allow/disallow multi-selection on the component.

**Steps to reproduce the issue:**
Open the Content Node Selector and try multiple key combinations

[2020-06-18 17:03] uclaeamsavino opened #5795 "ADA compliance bug - user cannot tab out of date field"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
User cannot tab through a date field, tabbing forward just goes back and forth in an endless loop - between the text entry field and the calendar icon.

**Expected behavior:**
Tabbing forward should get the user to the next field in the form.

**Steps to reproduce the issue:**
Create any form with a date field and another field after i

[2020-06-26 15:46] eromano commented on #5452
I just test it on my remote env the implicitFlow and it works as aspected I think has to be something about your env configuration. Is all working with implicitFlow  true?

[2020-06-26 15:48] eromano commented on #5740
Sorry, but I don't get why this thing is an ADF or ACA bug?

[2020-06-26 15:49] eromano commented on #5788
We are going to review this component behavior soon

[2020-06-26 15:50] eromano commented on #5795
if you can provide an example of form maybe we can better investigate

[2020-06-26 15:51] eromano commented on #5671
We don't provide it at the moment we are open on contribution happy to help on it

[2020-06-26 19:22] syankov commented on #5740
Our users are used to copying emails via drag-and-drop from desktop Outlook to Jira in the browser (for example) and we told them that they can do the same with ADF. However, the emails are being deleted which makes drag-and-drop from Outlook to ADF applications unusable. We thought that something can be done in ADF to prevent the deletion as this works with other web applications.

[2020-06-29 08:12] DenysVuika commented on #5740
@eromano I think the ADF drag and drop can provide the "copy" effect for the drag explicitly to support this scenario. Right now we don't have any effects and rely on browser behavior.

[2020-06-29 16:00] eromano commented on #5740
ok now make more sense. I will mark it as new funtionality

[2020-07-01 14:24] evanlinwood commented on #5452
Thanks a lot for doing some testing Eugenio. I'm running with ACS (Community) 6.2 and ACA 1.11.0. I've just taken Keycloak up to 10.0.2, I'm debugging under Chrome 69.0.3497 (not the most recent but not very old either) and I'm not running a proxy server in this config. I am running an earlier major release number of Tomcat though - 7.0.99.

I'm finding that when I set implicitFlow to true, the si

[2020-07-08 06:11] vikash09 opened #5844 "Upload file issue while changing to all files (error) event not triggering"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

I have allowed only pdf file to be uploaded.
And I can upload pdf files only.

But our system allowed us to change to all files while the file picker opens.
And I changed it to all files,
And I am uploading another file,
The *(error)* event is not triggering in this case.

<adf-upload-button class="upload-btn" [rootFolderId]="pdfFolde

[2020-07-08 06:59] vikash09 commented on #5844
It gives empty array if we do same steps
 uploadStarted(event: any) {
    if (!event.files || event.files.length === 0) {
      this.displayMessage('Please upload valid file', 'warning', false);
      return;
    }

[2020-07-08 06:59] #5844 closed

[2020-07-11 12:58] silverskyvicto opened #5858 "typo exists in Basic Usage of analytics-report-list.component.md"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

[code]

**Expected behavior:**

[code]

**Steps to reproduce the issue:**

**Component name and version:**

APS Analytics List Component.

**Browser and version:**

**Node version (for build issues):**

**New feature request:**

[2020-07-11 15:42] silverskyvicto opened #5860 "typo exists in Transclusions of process-list.component.md"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

[code]

**Expected behavior:**

[code]

**Steps to reproduce the issue:**

**Component name and version:**

Process Instance List

**Browser and version:**

**Node version (for build issues):**

**New feature request:**

[2020-07-13 13:41] eromano commented on #5858
thanks for the contribution

[2020-07-13 13:41] #5858 closed

[2020-07-13 13:42] eromano commented on #5860
Thanks for the contribution

[2020-07-13 13:42] #5860 closed

[2020-07-14 11:59] oprepliasko opened #5867 "Un-checked checkboxes appear as checked on completed tasks"
Unchecked checkbox appears as checked on a closed task which causes client confusion and defects investigation problems.
The issue was fixed in previous adf version and now appeared again in version 3.9

**Type of issue:**  (check with "[x]")

**Current behaviour:**
Unchecked checkbox appears as checked on a closed task.

**Expected behavior:**
Unchecked checkbox should appear as un-checked on a c

[2020-07-24 12:12] ShilpaVKulkarni opened #5911 "Custom stencil Multiple checkbox visibility condition"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

Visibility condition is working for single checkbox
**Expected behavior:**

Visibility condition should work for multiple check box (custom stencil)

**Steps to reproduce the issue:**

Created the multiple checkbox stencil. On select of checkbox I want to set visibility. On select of single checkbox it is showing and hiding fields pro

[2020-07-30 10:54] #5740 closed

[2020-08-05 06:26] silverskyvicto opened #5950 "'development' branch has been renamed and no longer exists."
**Type of issue:**  (check with "[x]")

**Current behaviour:**
In `CONTRIBUTING.md`, 'development' branch is listed instead of 'develop' branch.

**Expected behavior:**

**Steps to reproduce the issue:**

**Component name and version:**

**Browser and version:**

**Node version (for build issues):**

**New feature request:**
Fix branch name from `development` to `develop`.

[2020-08-05 08:00] DenysVuika commented on #5950
Thanks!

[2020-08-05 08:00] #5950 closed

[2020-08-05 15:26] silverskyvicto opened #5956 "Property 'processInstanceId' is not enclosed in []."
**Type of issue:**  (check with "[x]")

**Current behaviour:**
In 'process-instance-details.component.md', property `processInstanceId` is not enclosed in [].

**Expected behavior:**
Property 'processInstanceId' is enclosed in [].

**Steps to reproduce the issue:**
Access [Process Details component](https://www.alfresco.com/abn/adf/docs/process-services/components/process-instance-details.componen

[2020-08-05 15:57] silverskyvicto opened #5958 "Material Datetimepicker for @angular/material 10.x has already released."
**Type of issue:**  (check with "[x]")

**Current behaviour:**
v4 packages below is used.
https://github.com/Alfresco/alfresco-ng2-components/blob/486a1d2c9d1c4101ab6005ca2c01ab74013fcc83/package.json#L87

https://github.com/Alfresco/alfresco-ng2-components/blob/486a1d2c9d1c4101ab6005ca2c01ab74013fcc83/package.json#L88

**Expected behavior:**
Use v5 packages below.
- [@mat-datetimepicker/core](htt

[2020-08-05 19:49] #5956 closed

[2020-08-05 19:53] DenysVuika commented on #5958
Thanks for pointing out. There's no particular reason for using old library, we probably just missed that during the upgrade.

[2020-08-10 17:36] silverskyvicto opened #5969 "How to test a component in a contribution"
**Type of issue:**  (check with "[x]")

I am considering adding a component for ADF.
I've heard that you need to create and test components to contribute to ADF.

I'm not sure about the test method, so please let me know.

**Current behaviour:**
Commands and information related to test execution are described in README.md and Wiki, but they are not organized.

ex. `README.md`)
[code]

ex. `Wiki`)

[2020-08-10 18:04] DenysVuika commented on #5969
With the latest codebase, the Angular commands are supported: `ng build <name>` and `ng test <name>`. So, if changing the code in the `core` library, you may want to run:
[code]

[2020-08-11 07:59] uvukasinovic opened #5970 "Custom Stencil doesn't work on Start Form"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
Custom Stencil doesn't work with 3.9 version (it works with 3.7)

**Expected behavior:**
The stencil should be displayed in the Start Form

**Steps to reproduce the issue:**
Create a new process with a custom stencil field and start it in ADF

**Component name and version:**
start-process.component.ts

<img width="1291" alt="Screen Sho

[2020-08-11 08:26] #5969 closed

[2020-08-11 08:32] eromano commented on #5911
HI @ShilpaVKulkarni what ADF version are you using?

[2020-08-12 08:37] eromano commented on #5958
Thanks the update has been done

[2020-08-12 08:37] #5958 closed

[2020-08-12 08:41] eromano commented on #5911
@ShilpaVKulkarni if you could share your app will be probably easy for us to debug your problem

[2020-08-12 09:04] eromano commented on #5074
we now have filters on column similar to this idea thanks @rohit9637 for the inspiration

[2020-08-12 09:04] #5074 closed

[2020-08-12 09:05] eromano commented on #5185
We are on angular 10 now thanks all

[2020-08-12 09:05] #5185 closed

[2020-08-12 09:12] eromano commented on #5867
https://issues.alfresco.com/jira/browse/ADF-5216

[2020-08-12 09:14] eromano commented on #4864
I am closing it @MariusGrunenberg using a dialog in a dialog is an antipattern thanks for the issue

[2020-08-12 09:14] #4864 closed

[2020-08-12 09:14] eromano commented on #4938
ADF 4.0.0 has this capability

[2020-08-12 09:14] #4938 closed

[2020-08-12 09:15] eromano commented on #4959
ADF 4.0.0 has this capability now

[2020-08-12 09:15] #4959 closed

[2020-08-12 09:25] #3458 closed

[2020-08-12 09:26] eromano commented on #3922
close for the missing update, feel free to reopen if you have more info to share with us

[2020-08-12 09:26] #3922 closed

[2020-08-12 09:27] #4235 closed

[2020-08-12 09:27] ukdavo opened #5977 "Request for additional TreeView features"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
N/A

**Expected behavior:**
N/A

**Steps to reproduce the issue:**
N/A

**Component name and version:**
N/A

**Browser and version:**
N/A

**Node version (for build issues):**
N/A

**New feature request:**
Would like the Tree View to support the following:

- Optional rendering of document nodes within tree
- Ability to override/supple

[2020-08-12 09:33] eromano commented on #5625
I am closing this issue for missing update please feel free to reopen it when you have more info. Thanks

[2020-08-12 09:33] #5625 closed

[2020-08-12 09:36] eromano commented on #5452
I remember I saw once something  similar in chromium but not in chrome. Are you using chromium or chrome?

[2020-08-13 08:16] eromano commented on #5788
In 4.0.0. the lib/content-node-selector/content-node-selector.component-data.interface.ts support also the option selectionMode that can be multiple see the content-node-selector.component.md for more details

[2020-08-13 08:16] #5788 closed

[2020-08-13 08:19] eromano commented on #5671
Thanks for the contribution we are going to merge it in 4.1.0 we are now in code freeze and we can not merge new functionality until the new release

[2020-08-13 08:58] eromano commented on #5867
Solved in 4.0.0

[2020-08-13 08:58] #5867 closed

[2020-08-13 10:32] eromano commented on #5636
https://issues.alfresco.com/jira/browse/ADF-5217

[2020-08-13 14:01] dhrn commented on #5970
@uvukasinovic have you tried this https://github.com/Alfresco/alfresco-ng2-components/issues/5678 ?

[2020-08-13 14:32] uvukasinovic commented on #5970
Thanks @dhrn

I tried #5678, but it doesn't work.

[2020-08-14 06:53] ShilpaVKulkarni commented on #5911
We are using ADF 3.7.0

[2020-08-14 07:00] dhrn commented on #5970
Raised jira ticket. https://issues.alfresco.com/jira/browse/ADF-5218

Thanks for reporting

[2020-08-14 19:45] #5970 closed

[2020-08-18 13:08] silverskyvicto opened #6026 "ADF uses vulnerable version of Karma"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
The ADF uses the following versions of Karma:

https://github.com/Alfresco/alfresco-ng2-components/blob/0b2caf98784defc2aebc9fd98e1e941215244b14/package.json#L141

However, this version of Karma is vulnerable.

[code]

**Expected behavior:**
Use `5.1.1` version

**Steps to reproduce the issue:**

1. Clone `alfresco-ng2-components` repo

[2020-08-18 13:20] silverskyvicto opened #6028 "ADF uses vulnerable version of Protractor"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
The ADF uses the following versions of Protractor:

https://github.com/Alfresco/alfresco-ng2-components/blob/0b2caf98784defc2aebc9fd98e1e941215244b14/package.json#L161

However, this version of Protractor is vulnerable.

[code]

**Expected behavior:**
Use `7.0.0` version

**Steps to reproduce the issue:**

1. Clone `alfresco-ng2-compon

[2020-08-18 13:27] silverskyvicto opened #6030 "Use newer scss-bundle"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
https://github.com/Alfresco/alfresco-ng2-components/blob/0b2caf98784defc2aebc9fd98e1e941215244b14/package.json#L169

**Expected behavior:**
Use `3.1.2` version.

**Steps to reproduce the issue:**

**Component name and version:**

**Browser and version:**
all

**Node version (for build issues):**
all

**New feature request:**

[2020-08-18 14:39] #6026 closed

[2020-08-18 14:39] #6028 closed

[2020-08-18 14:39] #6030 closed

[2020-08-19 11:52] tokewf opened #6039 "Syntax error in @angular/flex-layout package version in content-services/package.json"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

Package version of `@angular/flex-layout` in `content-services/package.json` is listed as
[code]
which is invalid syntax (note the two >= symbols). Consequently, when you install `@alfresco/adf-content-services`, NPM warns that
[code]
**Expected behavior:**

Version should be correctly defined.

[2020-08-20 08:43] #6039 closed

[2020-08-20 08:46] fcorti commented on #2184
This is possible since ADF 4.0.
Please note that due to an enhanced REST endpoint, this feature will be possible only since ACS 7th version.

[2020-08-20 08:46] #2184 closed

[2020-08-27 11:12] Hellyks opened #6081 "[object Object] is displayed instead of the group name when selecting the same group multiple times"
**Type of issue:**  (check with "[x]")

**Current behavior:**
When I am on a Task detail page, I have a select user group field in current task form. While I select a user group for the first time, it works fine but if I select it again it displays [object Object] instead of the group name.

**Expected behavior:**
Selecting a same user group multiple times should remain the same value of group nam

[2020-09-16 10:17] dhrn commented on #5636
Hello @amrutawandakar  @muhmadtabrez

are you guys using LDAP sync?

![image](https://user-images.githubusercontent.com/14145706/93316898-65e45880-f82a-11ea-8a0a-3c487788946c.png)

I couldn't see the user name field in the aps.

[2020-09-16 11:08] druckreich opened #6133 "wrong alfresco-process-services moment implementation"
Within the method getProcessTasks in the class ProcessService a call to moment is made thought the import is called moment$1

    0008  import moment$1 from 'moment-es6';
    ....
    3083 getProcessTasks(processInstanceId, state) {
    3084     const taskOpts = state ? {
    3085        processInstanceId: processInstanceId,
    3086        state: state
    3087    } : {
    3088        processIns

[2020-09-17 05:47] dhrn commented on #5636
I couldn't reproduce the problem even with LDAP.

@muhmadtabrez I couldn't find the `username` property in APS. I see only the firstName and lastName. can you please tell me how are you configuring the `username` in APS?

[2020-09-17 07:13] amrutawandakar commented on #5636
@dhrn i'm not using the LDAP sync.

[2020-09-17 07:49] dhrn commented on #5636
can you please check gitter chat

[2020-09-17 10:17] amrutawandakar commented on #5636
@dhrn you can update the issue here

[2020-09-17 10:36] dhrn commented on #5636
As I said above I couldn't reproduce the problem.

Give it try with ADF 4.0 and update here if it is still there.

[2020-09-17 10:50] amrutawandakar commented on #5636
@dhrn thank you i will check and update

[2020-09-28 10:53] eromano commented on #6133
Hi, What version of ADF are you using?

[2020-09-28 10:54] eromano commented on #6081
Hi, What version of ADF re you using?

[2020-09-28 14:25] oprepliasko opened #6178 "Radio button is selectable from the distance"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
User can select a radio button when positioned far to the right from the radio button itself. The cursor changes to a selection ‘finger’ far from the button which can lead to unintentional select of the wrong option. This behaviour appeared in ADF 4.0.

**Expected behavior:**
The cursor changes to a selection ‘finger’ and allows clicki

[2020-09-28 14:42] oprepliasko opened #6179 "Cursor jumps at the end of the text in the text fields"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
When user enters some text into text field, and then puts cursor in the middle of the text and starts editing, cursor is suddenly moved to the end of the text

**Expected behavior:**
Cursor stays in the place where user moved it.

**Steps to reproduce the issue:**
1. Type any text into text field. E.g. word 'Testing'
2. Put cursor betw

[2020-10-05 14:40] shahjigirp opened #6213 "Access SSL Certified ACS endpoints"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
Setup ACS with SSL using key-store and trust-store. While giving endpoint in app.config.json as this ACS, it's giving ERR_CERT_AUTHORITY_INVALID error.

**Expected behavior:**
Should be able to call ACS which is secured with SSL using p12 certificate.

**Steps to reproduce the issue:**
Configure ACS tomcat with SSL using TS and KS. Try

[2020-10-05 14:45] DenysVuika commented on #6213
It does not look like the issue is related to an ADF (Angular) application. Have you tried researching whether this issue relates to something else, i.e. https://stackoverflow.com/questions/48737370/neterr-cert-authority-invalid-when-trying-to-locally-call-to-api#48767886

[2020-10-06 05:13] shahjigirp commented on #6213
Hi @DenysVuika

It's related to ADF. Please find detailed problem statement here.

We generated our ADF v3.8 application using yeoman generator and building application using npm run build. Hence, deployment package is being generated in dist folder.

Before build, we modify app.config.json file and put EcmHost as ACS 6.2.1 endpoints.
We put this generated package folder in tomcat/webapps folder.

[2020-10-08 09:28] VitoAlbano commented on #6178
This is not a  bug but a behaviour of material design which ADF is using . Please refer here https://material.angular.io/components/radio/examples

[2020-10-12 08:54] eromano commented on #6179
Hi @oprepliasko we are not able to repliacate the bug can you provide some more context or a sandbox app?

[2020-10-12 09:25] #6178 closed

[2020-10-14 11:16] eromano commented on #6133
I am closing this issue, please feel free to reopen wit the enhanced asked information

[2020-10-14 11:16] #6133 closed

[2020-10-14 11:17] eromano commented on #6081
I am closing this issue, please feel free to reopen wit the enhanced asked information

[2020-10-14 11:17] #6081 closed

[2020-10-14 11:17] eromano commented on #5911
can you try to replicate with last version?

[2020-10-14 11:17] eromano commented on #5795
I am closing this issue, please feel free to reopen wit the enhanced asked information

[2020-10-14 11:18] #5636 closed

[2020-10-14 15:36] uclaeamsavino commented on #5795
Sorry I missed the ask for more information. Unless it's been fixed, this happens in any form with a date field. You can't tab through the date field to the next field, as required for disability rules.

[2020-10-16 11:44] eromano commented on #5795
https://issues.alfresco.com/jira/browse/ADF-5281

[2020-10-16 18:20] uclaeamsavino commented on #5795
That's great! Thanks Eugenio.

[2020-10-19 14:37] Halning commented on #6179
Hi @eromano, I am a colleague of @oprepliasko. We have realized that the bug on our application side. We feel sorry that we spent your time.

[2020-10-20 11:18] #6179 closed

[2020-10-28 09:45] fcorti commented on #4416
Not for Alfrescans: This is part of an existing MMF named PRODMAN-382.

[2020-10-28 11:35] fcorti commented on #3048
I think the guide below answers this to request.
https://www.alfresco.com/abn/adf/docs/user-guide/aps-extensions/

[2020-10-28 14:20] #3048 closed

[2020-10-28 14:26] fcorti commented on #3826
I'm closing this because the ADF version is too old.
Please check this with the newest ADF version and reopen if still valid.
Thanks.

[2020-10-28 14:26] #3826 closed

[2020-10-28 14:27] fcorti commented on #3682
Not valid anymore.

[2020-10-28 14:27] #3682 closed

[2020-10-28 14:31] #4096 closed

[2020-10-28 14:32] fcorti commented on #4313
Solved in ADF 4

[2020-10-28 14:32] #4313 closed

[2020-10-28 14:38] fcorti commented on #5671
Thank you for the contribution.
Closing the issue because ADF 4.1 has been released.

[2020-10-28 14:38] #5671 closed

[2020-10-28 14:47] fcorti commented on #5482
Closing the issue because answered.
Feel free to reopen it, providing more details.
Thanks.

[2020-10-28 14:47] #5482 closed

[2020-10-28 14:52] fcorti commented on #5679
Supported since ADF 4.0.
https://www.alfresco.com/abn/adf/docs/release-notes/relnote400/#property-constraint-support-for-acs-7

[2020-10-28 14:52] #5679 closed

[2020-10-28 14:57] fcorti commented on #5707
Fixed in ADF 4.1.

[2020-10-28 14:57] #5707 closed

[2020-10-28 14:58] fcorti commented on #5795
Not reproducible.
For date/date-time widgets there are two tab steps.
The first one focuses on the input and the second one on the button to open the calendar dialog.

[2020-10-28 14:58] #5795 closed

[2020-10-28 16:06] fcorti commented on #1727
Both the issues should be addressed with the most recent versions of ADF.
Please raise new issues proving more details, in case what exists today is not enough.
Thanks.

[2020-10-28 16:06] #1727 closed

[2020-10-28 16:35] uclaeamsavino commented on #5795
@fcorti FYI - the problem is the user cannot tab out of the field. They get in an endless loop where the tab goes back and forth between the calendar icon and the field. Our users have complained about this - they want to be able to tab through fields. Also I believe that is an ADA requirement.

https://campussuite.freshdesk.com/support/solutions/articles/5000721608-ada-handling-forms

https://www

[2020-11-16 14:48] tokewf opened #6352 "HTTP 500 response in adf-upload-button is emitted as a success event"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

I am running an ADF application where allowed MIME types for file uploads are defined on the backend. The backend returns a HTTP 500 if an illegal MIME type was uploaded. I will need to capture any upload errors and show a snack bar that lets the user know that their upload failed. It is also perfectly conceivable that a file upload m

[2020-11-27 12:58] Sheldor5 commented on #3986
This is a MUST HAVE in my opinion, right now I have to make **5 clicks** to actually see all custom properties of my custom document type ...

1. click = on the document/list item
2. click = "View Details" Icon to open the content-metadata-component-card
3. click = "More Information" to see the groups of my custom properties (properties are groupd by type and aspect ... why???)
4. click = click on

[2020-11-30 10:07] eromano commented on #5795
This issue has ben fixed in th last version of ADF and datetime picker project. It will be part of ADF 4.2.0

[2020-12-14 22:39] tdonovancsra opened #6455 "Save Form incorrectly saves variable set in the complete event"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
Starting with version 3.9 of ADF.  When a process contains code in a
org.activiti.engine.impl.bpmn.listener.ScriptTaskListener
When the user saves the form via the save button instead of completing the form.  The variable in the script task is being saved to the SAVED_FORM table in the json with no value.  If the value is of type FormF

[2020-12-24 12:27] trakhmanova-CLGX opened #6485 "Form Fields should be at the same margin with the others"
Form Fields should be at the same margin with the others

**Type of issue:**  (check with "[x]")

**Current behaviour:**
"City*" is not at the same margin with the other form components on the Authentication Address form.

**Expected behavior:**
"City*" should be at the same margin with the other form components.
**Steps to reproduce the issue:**
 Create any ticket and observe "City*" on the Authe

[2020-12-24 16:13] trakhmanova-CLGX commented on #6485
[FormFields.docx](https://github.com/Alfresco/alfresco-ng2-components/files/5740121/FormFields.docx)

[2020-12-24 16:16] trakhmanova-CLGX commented on #6485
![image](https://user-images.githubusercontent.com/74369718/103098635-23de6600-4614-11eb-9f7a-bec7b3816582.png)

[2020-12-24 16:16] trakhmanova-CLGX commented on #6485
![image](https://user-images.githubusercontent.com/74369718/103098642-2fca2800-4614-11eb-986b-76cc93b0e8d5.png)

[2020-12-24 16:32] trakhmanova-CLGX commented on #6485
![image](https://user-images.githubusercontent.com/74369718/103099251-6739d400-4616-11eb-86e5-ad1212932559.png)

[2020-12-24 16:37] trakhmanova-CLGX commented on #6485
![image](https://user-images.githubusercontent.com/74369718/103099421-1aa2c880-4617-11eb-9fe9-eaaf1e73d918.png)

[2021-01-04 16:40] sbakic opened #6488 "Wrong display text for file size cell after updating folder name/properties"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

When you update folder name, file size cell will get some text displayed "NaN CORE".

![103422806-8c44be80-4ba3-11eb-9c73-3b098a43dc6a](https://user-images.githubusercontent.com/6079897/103557543-a805d880-4eb3-11eb-8de0-99f5c439e6e9.png)

**Expected behavior:**

 filesize-cell.component.ts is used to display the size of a file or fold

[2021-01-08 15:51] trakhmanova-CLGX commented on #6485
![image](https://user-images.githubusercontent.com/74369718/104034827-114e5a00-51da-11eb-863f-1cd8f13a7680.png)

[2021-01-26 17:21] groul opened #6579 "ADF 4.2.0 app is reloading infinite times"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

After starting a fresh ADF 4.2.0, the app is just reloading infinite times in browser.
**Expected behavior:**

The login page should reload
**Steps to reproduce the issue:**

Create a fresh app using ADF 4.2.0 and start the app.
**Component name and version:**

**Browser and version:**

 Chrome
**Node version (for build issues):**

no

[2021-01-27 15:43] dhrn commented on #6579
How are you creating the adf app?

[2021-01-28 11:06] Adrian-Glumm-Silbury commented on #6579
I have the same issue, regardless of browser (Tested Firefox and Safari, each latest)

I created the adf application with the yeoman generator as described in [this page](https://www.alfresco.com/abn/adf/docs/tutorials/creating-your-first-adf-application/)

[2021-01-28 11:22] groul commented on #6579
I have created the app by following https://www.alfresco.com/abn/adf/docs/tutorials/creating-your-first-adf-application/

I installed alfresco-adf-app using node 8.x because it was creating problem for other node versions. Then I switch to node 14.x to  run the app.

[2021-01-28 12:01] dhrn commented on #6579
I remember something that's fixed in the current release.

can you try with latest alpha and attach the sendbox app here.

it is hard to help without app.

[2021-02-03 14:20] Waldbillig-Thomas opened #6622 "bug in visibility evalauation of form components"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

in the old angularjs version the conditional visibiliy of a field/component is evaluated differently then in the new angular version

when you have a field on checkboxes with the following logic => `a==true AND b==true OR c ==true AND d == true`
results in false if a and b are checked

it is resolved as => `a && ( b || ( c && d ))`  o

[2021-02-03 14:24] Waldbillig-Thomas commented on #6622
![form](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAg0AAAHNCAYAAACdGEi9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAFiUAABYlAUlSJPAAAEaWSURBVHhe7Z37tyRVeff9Z6KYX/IDa71Zycq7krXyeglibsaIiUICiRpBxCh3BAUFRRkEURHvhGgQlAiCykhMELnIgBBkAHEGEBAYmQGFGdBhrHe+dc7TPGefXbv26erq2tX9+az1WdVVtau6ej/78nR19zkveXznLytERETENkkaEBERMUuSBkRERMySpAERERGzJGlARETELEkaEBERMUuSBkRERMySpAERERGzJGlARETELEkaEBERMUuSBk

[2021-02-03 14:26] Waldbillig-Thomas commented on #6622
![form]data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAg0AAAHNCAYAAACdGEi9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAFiUAABYlAUlSJPAAAEaWSURBVHhe7Z37tyRVeff9Z6KYX/IDa71Zycq7krXyeglibsaIiUICiRpBxCh3BAUFRRkEURHvhGgQlAiCykhMELnIgBBkAHEGEBAYmQGFGdBhrHe+dc7TPGefXbv26erq2tX9+az1WdVVtau6ej/78nR19zkveXznLytERETENkkaEBERMUuSBkRERMySpAERERGzJGlARETELEkaEBERMUuSBkRERMySpAERERGzJGlARETELEkaEBERMUuSBkR

[2021-02-10 14:40] tdonovancsra commented on #6455
+1

[2021-02-11 11:22] groul commented on #6579
Can you please share the link of latest alpha ?

[2021-02-11 12:31] dhrn commented on #6579
you need to update the package json with following  version

    "@alfresco/adf-content-services": "4.3.0-31279",
    "@alfresco/adf-core": "4.3.0-31279",
    "@alfresco/adf-process-services": "4.3.0-31279",
    "@alfresco/js-api": "4.3.0-3207"

[2021-02-19 15:19] chat-du-cheshire commented on #6579
Hi, I'm pasted that deps, and it still infinite reload

Even more, I've got compilation error node_modules/@alfresco/js-api/src/authentication/oauth2Auth.ts:618:20 - error TS2591: Cannot find name 'Buffer'

[2021-02-20 07:34] dhrn commented on #6579
@chat-du-cheshire can you add the git hub URL for your referenced application?
I will try to reproduce in mylocal machine

[2021-02-20 08:57] chat-du-cheshire commented on #6579
Hi, this is it https://github.com/chat-du-cheshire/activiti-test-app. I was following this guide https://www.alfresco.com/abn/adf/docs/tutorials/creating-your-first-adf-application/

[2021-02-22 14:16] tdonovancsra commented on #6455
I hope this isn't being thought of as an API issue from my description above and not being looked at.  The problem appears in the api but the issue is that the JSON generated from the ADF client code is incorrect.

[2021-02-23 07:29] dhrn commented on #6455
Hello @tdonovancsra

I couldn't reproduce this. can you give me the sample BPMN app ?

[2021-02-25 06:54] chat-du-cheshire commented on #6579
@dhrn hi, any news ?

[2021-02-25 06:56] dhrn commented on #6579
@chat-du-cheshire I am able to reproduce this. probably, next week i will have a look on this.

[2021-02-25 07:04] chat-du-cheshire commented on #6579
@dhrn hi, super, thnx )

[2021-03-01 18:19] sonia-c opened #6756 "Add configuration to define required properties in ContentMetadataCard"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

Adding a `preset` configuration, we can define which document properties are visible and editable. Example:

[code]

**Expected behavior:**

Expected to can define required properties too.

**Component name and version:**
adf-content-metadata-card 4.2.0

**Browser and version:**
all

**New feature request:**

Preset configuration coul

[2021-03-05 13:29] dhrn commented on #6579
Thank you for reporting.It will be released as part 4.3.0 release. please reopen it doesn't fix

[2021-03-05 13:29] #6579 closed

[2021-03-11 09:26] RuudGianesini opened #6813 "Breadcrumb does not work properly with Alfresco installed in other language than English"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

I've an Alfresco installed in Italian language.
I navigate into a site using Alfresco Content App I see this:
![breadcrumb](https://user-images.githubusercontent.com/18052793/110764291-26d01680-8253-11eb-9396-357912764bd9.png)

**Expected behavior:**

I expect to see "Sample: Web Site Design Project" instead of "swsdp/documentlibrary"

[2021-03-16 10:03] unibravo commented on #5039
Same Issue for Turkish:
Versiyon: ADW 2.1.0
Error: InvalidPipeArgument: 'Missing locale data for the locale **"tr"**.' for pipe 'e'

[2021-03-18 19:02] tdonovancsra commented on #6455
@dhrn Did you try on ADF 4.2 or 4.3?

[2021-03-30 12:56] eromano commented on #6352
https://alfresco.atlassian.net/browse/ADF-5369

[2021-03-30 12:59] eromano commented on #6485
https://alfresco.atlassian.net/browse/ADF-5369

[2021-03-30 13:05] eromano commented on #6813
https://alfresco.atlassian.net/browse/ADF-5371

[2021-03-30 13:30] eromano commented on #6622
https://alfresco.atlassian.net/browse/MNT-22207

[2021-04-08 14:50] luiscolorado opened #6912 "Yeoman app alfresco-adf-app produces dependency error"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
Installing ADF using the yeoman app alfresco-adf-app produces the following error:

[code]
The instructions imply that the latest version of Angular/CLI (10.x) should work, but it looks like only versions 6 to 7 are supported in the dependencies.

**Expected behavior:**
The ADF environment should be deployed without errors.

**Steps to

[2021-04-08 14:51] kaspereden opened #6913 "Compatibility issue for ADF 4.3 with Alfresco 6.2"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
The content metadata card fails to render when using ADF 4.3 in combination with Alfresco 6.2

What happens is that it uses the Model API, that seems to be new and not working / non existing in ACS 6.x

**Expected behavior:**
It should render

**Steps to reproduce the issue:**
* Server with Alfresco Content Services 6.2
* ADF 4.3 and c

[2021-04-09 04:44] dhrn commented on #6913
Hello @kaspereden
it is fixed in this [PR](https://github.com/Alfresco/alfresco-ng2-components/pull/6845) . use latest beta to get it working.

[2021-04-13 10:41] davidcanonieto commented on #6912
Hi @luiscolorado, is it possible you're using npm version 7 in your machine? If so, please downgrade to npm 6. Many different users have reported compatibility issues with the latest version of npm. Please, let me know.

[2021-04-13 20:54] luiscolorado commented on #6912
Hi David,

I switched to version 6.14.12, but I get the same error when I run **yo alfresco-adf-app**:

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: adf-cli-acs-aps-template@4.3.0
npm ERR! Found: @angular/compiler@10.0.6
npm ERR! node_modules/@angular/compiler
npm ERR!   @angular/compiler@"10.0.6" from the root project
npm ERR!
npm E

[2021-04-14 07:59] kaspereden commented on #6913
Cool, thanks :)

For me the issue is resolved by downgrading 1 version. Since this is only for demo purposes that version is good enough.

[2021-04-26 09:33] VitoAlbano commented on #6455
Hi @tdonovancsra we tried with the latest ADF and it seems fine, could you share a BPMN example app?

[2021-05-20 13:41] eromano commented on #6913
Solved in ADF 4.4.0

[2021-05-20 13:41] #6913 closed

[2021-05-20 13:41] eromano commented on #6813
Solved in ADF 4.4.0

[2021-05-20 13:41] #6813 closed

[2021-05-20 13:42] eromano commented on #6488
Solved in ADF 4.4.0

[2021-05-20 13:42] #6488 closed

[2021-05-20 13:43] eromano commented on #6485
Solved in ADF 4.4.0

[2021-05-20 13:43] #6485 closed

[2021-06-05 05:03] miguel-galan opened #7091 "APS form - Save button is disabled unless all mandatory fields are populated"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

APS form - Save button is disabled unless all mandatory fields are populated.

**Expected behavior:**

Save button should be enabled by default, regardless of the status of mandatory fields.

**Steps to reproduce the issue:**

Open any APS form with mandatory fields. Save button will be disabled.

**Component name and version:**

Comp

[2021-06-07 07:12] miguel-galan opened #7094 "APS form - Saving a form with an empty people widget creates a permanent value error that prevents the form from loading"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

Save an APS form with an empty people widget creates a permanent value error that prevents the form from loading the next time.

**Expected behavior:**

An APS form can be saved with an empty people widget and can be reloaded without errors.

**Steps to reproduce the issue:**

1. Create an APS app with a user step that has a form that

[2021-06-08 08:00] #6352 closed

[2021-06-08 11:33] ryanchristie opened #7098 "allowedFilesType list is case sensitive (Upload Drag Area + Upload Button)"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
Supplied value(s) to Upload Drag Area & Upload Button ADF components are case sensitive.

**Expected behavior:**
Supplied value(s) are case insensitive.

**Steps to reproduce the issue:**
Provided [allowedFilesType]=".doc", attempting to upload a .DOC file will not be successful.

**Component name and version:**
Components: Upload Butt

[2021-06-08 12:11] eromano commented on #7098
extension are case sensitive

[2021-06-12 18:07] miguel-galan opened #7102 "APS form - ADF form does not load dropdown items retrieved from a REST service"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

![image](https://user-images.githubusercontent.com/24700924/121785200-6249ec00-cb86-11eb-950b-e2ca3c0125ba.png)

In an APS form, when a dropdown is set to populate the items using a REST service, the ADF form component populates the item list using the manual option. The same task loaded from activiti-app loads the item list as expect

[2021-06-16 14:04] luiscolorado commented on #6912
Are there any comments? As mentioned in my comment, the problem is caused by a conflict in the packaging.

adf-cli-acs-aps-template should remove the compiler dependency ([line 28](https://github.com/Alfresco/generator-alfresco-adf-app/blob/32729a654ca82883356cd3217e349c8cf2bc14a3/app/templates/adf-cli-acs-aps-template/package.json#L28)) or even better, replace the dependency to package [build-ng-

[2021-06-16 14:13] DenysVuika commented on #6912
@luiscolorado please raise the yeoman generator issues in the proper repository: https://github.com/Alfresco/generator-alfresco-adf-app.

For the last release, the generator was tested and had no issues. We have even produced some guides on Ubuntu/CentOS installations: https://github.com/Alfresco/generator-alfresco-adf-app#installing-nodejs-and-npm

[2021-06-28 13:31] #7098 closed

[2021-06-29 07:35] bfleury-alfea commented on #6622
If you manage to find this issue and looking for an answer, this is currently being fixed by Alfresco Team :
https://alfresco.atlassian.net/browse/MNT-22461

[2021-06-29 13:36] #7091 closed

[2021-07-01 14:15] eromano commented on #7102
Hi, @miguel-galan I just tried it using this mock server :

https://run.mocky.io/v3/f892c0bc-2d5e-4c62-ac83-80304e5f85fc

and all seems to be working fine :

<img width="775" alt="Screenshot 2021-07-01 at 16 14 43" src="https://user-images.githubusercontent.com/1030050/124139024-8151e480-da87-11eb-933a-15e5b83f2613.png">

[2021-07-08 11:04] #7094 closed

[2021-07-08 11:04] #7102 closed

[2021-07-09 13:49] #6912 closed

[2021-07-28 05:42] galacticQuasar commented on #4992
I would also be interested to know if this will be fixed.

For what it is worth, sub-types don't appear to be resolved, type properties are only shown if it is the same type

[2021-08-08 08:50] miguel-galan commented on #7102
@eromano you are right. In our case, we selected the rest call but it was failing (due to an issue on the APS side) and we didn't realize that it was falling back to the manual set of options automatically (we thought it was a bug, but it's more like a feature). Thanks

[2021-08-09 19:26] tdonovancsra commented on #6455
Hey looks like ADF 4.5 fixes the issue.  I tested 3.9-4.4 and it was still broken but something fixed it in 4.5.    I'm a results person so fine with me tho curious what it was ;). Closing the issue

[2021-08-09 19:26] #6455 closed

[2021-09-07 11:47] wkpratik1995 opened #7239 "[object Object] is displayed instead of the group name when selecting the same group multiple times"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
When I am on a Task detail page, I have a select user group field in current task form. While I select a user group for the first time, it works fine but if I select it again it displays [object Object] instead of the group name.

**Expected behavior:**
Selecting a same user group multiple times should remain the same value of group na

[2021-09-08 12:14] wkpratik1995 opened #7244 "Mandatory field validations are not applied once content is removed from these fields"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
when start form is shown to user by default the mandatory fields are shown as red but when we enter a value in the adf-group-search-input and again remove the field then the mandatory filed validations are missing and it is allowing the user to process the task

**Expected behavior:**
when ever user removes any value from adf-group-sea

[2021-09-14 07:01] mail2hemant opened #7251 "Asian Language Support"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

Currently ADF doesn't support adding more language than already listed.

**Expected behavior:**

**Steps to reproduce the issue:**

**Component name and version:**

**Browser and version:**

**Node version (for build issues):**

**New feature request:**

[2021-09-23 07:27] ilseva opened #7263 "adf-cloud-task-list user tasks"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
If I put in the component adf-cloud-task-list the property assignee as
[code]
I expect to see only the tasks assigned to the user logged. But the list is empty.
If I change the code as 
[code]
I see the user logged tasks.

**Expected behavior:**
Set property `assignee` with value 'assignee' and see tasks assigned to the user logged.

*

[2021-09-24 07:38] rderooij opened #7264 "Not being redirected to login page when Kerberos is enabled"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
A new bug is introduced and maybe it is related to issue [MNT-22334](https://alfresco.atlassian.net/browse/MNT-22334).

When Kerberos is enabled, and you access the content app within the correct network environment and SSO is applied and works as expected. Both in ACA version 2.5.0 (4.5.0) and ACA 2.6.0 (4.6.0).

When you access the c

[2021-09-24 09:11] eromano commented on #7264
Hi @rderooij  I have created an internal issue for it

[2021-09-24 09:13] eromano commented on #6622
Fixed in https://github.com/Alfresco/alfresco-ng2-components/pull/7176

[2021-09-24 09:13] #6622 closed

[2021-09-24 09:50] eromano commented on #7263
Hi @ilseva I am digging in it but IMO is probably the documentation wrong , I will check more to be sure 100% and will com eback with a complete answeer

[2021-09-28 07:32] archX-S opened #7268 "Add Permission Component dosent show LDAP-User, only LDAP-Groups"
**Expected behavior:**
Show LDAP users

**Component name and version:**
Add Permission Component (4.4.0 - 4.6.0)

**Browser and version:**
all

**Node version (for build issues):**
v12.22.6

[2021-10-05 08:24] #7264 closed

[2021-10-06 12:30] JunHog opened #7281 "Missing translation on a button from the new adf-permission-list component"
**Current behaviour:**
The new component to change permissions on a node has a button (Show/hide button) with missing translation. The value is hard coded and it is not possible to extend the component (I believe it is because the adf-permission-container is not exported via the module).

**Expected behavior:**
The button should have a key to be translated. And we should be able to extend the comp

[2021-10-12 12:39] eromano commented on #7268
Are you sure about it? the users and groups are coming always from the content service. What version of Alfresco content services do you have?

[2021-10-13 13:50] #7281 closed, assigned to nobody

[2021-11-22 06:02] dhrn commented on #7239
Hi @wkpratik1995

Could you please test against the current version of ADF (4.7.0)?

[2021-11-22 08:47] druckreich opened #7382 "Incorrect oauth behaviour when logging out of keycloak"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
It is not possible to log out of keycloak if an invalid user is created in acs or aps.

**Expected behavior:**
It should be possible to log out from keycloak even if the users in aps or acs do not exist or are invalid.

**Steps to reproduce the issue:**
* use oauth for authentication
* have a valid user in keycloak
* have NO valid user

[2021-11-23 12:11] druckreich commented on #7382
The problem persists with version @alfresco@4.7.0

[2021-11-30 22:14] eromano commented on #7382
why the user is not in APS?

[2021-12-01 06:50] druckreich commented on #7382
Hello, the user is not synchronised from ldap because he does not have the required rights but he can log in via keycloak.

[2021-12-08 04:54] RAnouar opened #7411 "login issue"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

**Expected behavior:**

**Steps to reproduce the issue:**

**Component name and version:**

**Browser and version:**

**Node version (for build issues):**

**New feature request:**

[2022-01-25 14:05] bmlong137 opened #7468 "Alfresco Property 'd:date' Display Impacted by Timezone"
**Current behaviour:**
The adf-content-metadata-card is displaying property type "d:date" (as opposed to "d:datetime") with timezone consideration.  In the Alfresco. it uses the java.util.Date object which serializes the time and includes it in the JSON to ADW.  So it is a problem only because both ACS and ADW treat dates as date/times.

So in timezones west of GMT, it shows as the previous date i

[2022-01-25 14:10] eromano commented on #7411
this ticket doesn't have any valid infotmation

[2022-01-25 14:10] #7411 closed

[2022-02-10 17:27] bhosalevijay426 opened #7499 "adf viewer is not able to resolve dynamic labels and titles"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

Instead of getting plain labels for buttons like thumbnails, next previous, I am getting something like - ADF_VIEWER.ARIA.NEXT_PAGE.
I was getting some labels like -  ADF_VIEWER.PAGE_LABEL.SHOWING which I had to handle myself after document load.

**Expected behavior:**

Should get correct labels

**Steps to reproduce the issue:**

My

[2022-03-17 09:27] spark66rc opened #7556 "adf-viewer-extension not working with alfresco-enterprise-viewer"
**Type of issue:**

**Current behaviour:**
I want to integrate the "alfresco-enterprise-viewer" component into my ADF application. I have followed the documentation provided with the AEV module. They ask to put the following code inside the adf-viewer component.

[code]

But nothing happens!
By debugging, I see that we don't fit in the "adf-viewer-extension" directive.

**Expected behavior:**
The

[2022-04-06 10:21] EugeneHerasymchuk opened #7571 "moment.js is in maintenance mode"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
At this point of time, there is only one implementation of DateProvider in the project - it's [MomentDateAdapter](https://github.com/Alfresco/alfresco-ng2-components/blob/develop/lib/core/utils/moment-date-adapter.ts)
But as per moment.js project status - https://momentjs.com/docs/#/-project-status/
"We now generally consider Moment to

[2022-04-19 19:38] bmlong137 commented on #7468
This might be resolved by: https://github.com/Alfresco/alfresco-ng2-components/commit/8a9a9a6fd
(unconfirmed)

[2022-04-27 08:35] romainbrochot opened #7604 "Unable to refresh cached content-action (visible/disabled properties)"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
When content-actions (<content-action>) are rendered in  a document-list row for the first time, they are cached in the "rowMenuCache" class member of DocumentListComponent.

If we have, let's say 2 actions : lock / unlock a node.
We can hide or disable the actions given the metatadata of the node with [visible] or [disabled]. This is

[2022-05-05 05:56] spark66rc commented on #7556
Hello, I still haven't had an answer

[2022-05-11 02:53] bmlong137 commented on #7468
It is not resolved.  An ACS "d:date" (not "d:datetime") is being treated as a time with a timezone.  Dates and date/times are fundamentally different types and a date should not be cast to a date/time.  A date of "May 10, 2022" is not "May 10, 2022 at midnight", because then someone west of GMT will see it as "May 9, 2022".

[2022-06-08 12:26] shazada opened #7668 "support in metadatacard for type 'd:long'"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
In you enter a value larger than 2147483647 (max int) in an ADF application you get an error message.
![image](https://user-images.githubusercontent.com/1477763/172614905-38662ced-be32-49b2-9db8-3341dd9b9eac.png)

The type for this field is d:long.
If you fill in the field from Share then no validation error is shown:
![image](https://

[2022-06-09 10:54] DenysVuika commented on #7571
Besides the implementation of the MomentDateAdapter, there's a lot of other cases of using `moment` across the ADF components, quick search shows at least 81 files with 664 references. And there are also ADF-based apps (ACA, ADW, admin, etc) that are using moment besides the data adapter. That makes refactoring of the codebase quite a non-trivial task.

So while I fully agree that the `moment` nee

[2022-06-27 18:10] bmlong137 commented on #7468
Ok, it seems that "d:date" and "d:datetime" are both database TIMESTAMP values with timezones.  Which is rather crazy, because now I see no point in "d:date".  It should be more like a SQL "DATE" or Java LocalDate.  But since it isn't in Alfresco, I guess this isn't a bug in ADF.  Though it would be nice if ADF recognized the type with a model query and treated "d:date" more like an un-timed date.

[2022-07-06 17:31] GurjarDharmraj opened #7700 "Alfresco Digital workspace custom extension routing"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
{
"routes":[
{
"id":"custom.route",
"parentRoute":"",
"path":"personal-files",
"layout":"app.layout.main",
"component":"your.component.id",
"children":[

]
}
]
}

here want to update only child route   if i am not passing  component id then its throwing error here I want to use default component FilesComponent from Content-ce its not p

[2022-07-07 14:57] mauriziovitale opened #7704 "test"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

**Expected behavior:**

**Steps to reproduce the issue:**

**Component name and version:**

**Browser and version:**

**Node version (for build issues):**

**New feature request:**

[2022-08-16 16:28] JunHog opened #7771 "adf-form in APS context issue for autocomplete field with REST retrieved options"
**Type of issue:**  (check with "[x]")

**Current behaviour:**
adf-form in APS context sends an object with the values of restIdProperty and restLabelProperty as properties when using an autocomplete field with REST retrieved options different than id/name and the endpoint is not accepting it.

**Expected behavior:**
The form should still send a request with "id"/"name" properties in the object or

[2022-08-25 12:59] shazada commented on #7668
@DenysVuika is there any update about this? There is also a support ticket created so this should be higher up on the priority list I guess :D.

[2022-09-07 09:33] jproennau opened #7816 "Opening a new tab with the mousewheel on adf-breadcrumb item."
**Current behaviour:**
Currently the adf-breadcrumb component has it's href hardcoded with '#' as value. Which doesn't support opening a new tab with mousewheel click or with "open in new tab" in the right click context menu.
See: https://github.com/Alfresco/alfresco-ng2-components/blob/2fd10b2fe4663e01380f889d782bdc5ffed432a9/lib/content-services/src/lib/breadcrumb/breadcrumb.component.html#L50.

[2022-09-08 12:50] shazada commented on #7668
@DenysVuika is there an update about the fix?

[2022-10-07 13:03] DenysVuika commented on #7700
Please raise the issue in the corresponding repository (`alfresco-content-app`) as this is the ADF repository

[2022-10-07 13:03] #7700 closed

[2022-10-18 04:44] shirosaki opened #7902 "pdf file that contains Japanese characters shows blank"
**Type of issue:**  (check with "[x]")

**Current behaviour:**

A pdf file that contains Japanese characters shows blank in Japanese characters position in PDF viewer.

**Expected behavior:**

Japanese characters are shown correctly in PDF viewer.

**Steps to reproduce the issue:**

Upload and preview a pdf file that contains Japanese characters.

**Component name and version:**

@alfresco/adf-cor

[2022-10-19 07:40] rtercerol opened #7906 "Error retrieving Recent Files. Always return 0 results."
**Type of issue:**  (check with "[x]")

**Current behaviour:**

We found an error in CustomResourcesService when trying to load "-recent-" folder. The issue here is in the method "getRecentFiles", and specifically in the code line:

<code>{ query: `cm:modifier:${username} OR cm:creator:${username}` }</code>

Our usernames have white spaces, so for example, the above query would result in:

Example

[2022-10-21 11:59] DenysVuika commented on #7251
Right now you can add any more languages you need by putting the translation files in the corresponding folder, also the language picker is based on the configuration file, so you can add/removed language entries where needed.

Can you please elaborate on the issue? What support you think is missing?

[2022-10-21 15:06] #7906 closed

[2022-10-28 17:45] chang4tech opened #7929 "The startValue of SearchNumberRangeComponent"
I asked before in Gitter Chat.
https://matrix.to/#/!GPwFHbcxQhyLKEPRkf:gitter.im/$I8jr7zQqpf7i1iRtjNZosvLpImjk15FVq9EOKjxPv2w

There should be a way to set a default range value for a SearchNumberRangeComponent.

**Type of issue:**  (check with "[x]")

**Current behaviour:**

The startValue cannot be configured anywhere.

**Expected behavior:**

The startValue should be able to be set.

**Steps to